
/*
 Dynamic Injecting Product CSS cause Flickering issue, to solve this to add display none in body and enable it via freshclient once Product CSS injected.
*/
body {
  display: none;
}

fieldset {
  border: none;
}

 .vue-form-generator .form-control {
   box-shadow: none;
   transition: none;
 }

 .multiselect {
   min-height: 32px;
   font-size: 14px;
 }

 .multiselect__select {
   height: 32px;
 }

 .multiselect__tags {
   min-height: 32px;
   border: 1px solid #ccc;
   padding: 0px 40px 0 8px;
 }

 .multiselect--disabled .multiselect__select {
   height: 30px;
   border-radius: 0 4px 4px 0;
 }

 .multiselect__tag {
   margin-bottom: 0px;
   margin-top: 4px;
   background: #e2e2e2;
   color: #555;
 }

 .multiselect__tag-icon:after {
   color: #555;
 }

 .multiselect__option--highlight {
   background: #dbdfe2;
   outline: none;
   color: #333;
 }

 .multiselect__tag-icon:focus,
 .multiselect__tag-icon:hover {
   background: #00000036;
 }

 .multiselect__single,
 .multiselect__input {
   margin-bottom: 0px;
   min-height: 29px;
   line-height: 28px;
   font-size: 14px;
 }

 .form-group {
   margin-bottom: 1rem;
 }

 .form-group.error.field-vueMultiSelect input {
   border: none;
   background-color: transparent;
 }

 .form-group.error.field-vueMultiSelect .multiselect__tags {
   border: 1px solid red;
 }

 .form-group.error.field-vueMultiSelect .multiselect__content-wrapper {
   border: 1px solid red;
   border-bottom: none;
 }

 .form-group.error.field-vueMultiSelect .multiselect__single {
   background-color: rgba(255, 0, 0, 0);
 }

 .form-group.error .input-group-addon:first-child,
 .form-group.error .input-group-addon:last-child {
   border: 1px solid red;
   background-color: rgba(255, 0, 0, .15);
 }

 .form-group.error.field-checkbox input {
   border: 1px solid red;
   background-color: rgba(255, 0, 0, .15);
 }

 .input-group-addon:first-child {
   border-right: 0 !important;
 }

 .input-group-addon:last-child {
   border-left: 0 !important;
 }

 .vue-form-generator .field-domain .wrapper {
   width: 100%;
 }

 .vue-form-generator .hint {
   display: block;
   margin-top: 5px;
   color: #737373;
   font-style: normal;
   font-size: 12px;
 }

 .form-group.error .errors span {
   font-weight: normal;
   font-size: 12px;
 }

 .form-group.error input:not([type=checkbox]),
 .form-group.error select,
 .form-group.error textarea {
   background-color: transparent;
 }

 .help-block {
   margin-bottom: 0;
 }

 .flatpickr-current-month {
  display: flex;
}

.dropdown-menu>li>a {
  font-size: 14px;
}

.dropdown-toggle {
  background-color: #f7f7f7 !important;
}

.form-group.error .dropdown-toggle {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, .15) !important;
}
